# Change this file to `.env` and add your secure password

# Database Configuration
SD_HOST=localhost
SD_PORT=6543
SD_DBNAME=shiny_db
SD_USER=shiny_user
SD_TABLE=responses
SD_PASSWORD=my-secure-password-goes-here
