#*/10 * * * * nice -n 19 ionice -c3 -n7 /usr/local/bin/Rscript /usr/local/bin/dump_to_parquet.R >> /var/log/data-serializer.log 2>&1
*/10 * * * * /usr/local/bin/Rscript /usr/local/bin/dump_to_parquet.R >> /var/log/data-serializer.log 2>&1
# This empty line is crucial for cron to read the last line

